body {
  margin: 40px auto;
  background-color: #5c6244;
  color: #5c6244;
}

.container {
  width: 600px;
  text-align: center;
  background-color: #e6e7d1;
  border-radius: 8px;
  padding: 20px;
}

#title {
  font-size: 50px;
}

.game {
    font-size: 50px;
}

table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 30px;
}

td {
  background-color: #5c6244;
  color: white;
  padding: 10px;
  width: 50px;
  font-weight: bold;
  border-radius: 4px;
  text-decoration: none;
}

tr {
  width: 300px;
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

footer {
  margin: 25px 0 0;
}
